@font-face {
	font-family: 'Source Sans Pro';
	src:url('../fonts/source_sans_pro.woff2') format('woff2'),
		url('../fonts/source_sans_pro.woff') format('woff'); 
		
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*::before,
*::after {
      -webkit-box-sizing: inherit;
              box-sizing: inherit;
}
body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 1.429;
  color: black;
}
main{
  overflow-x: hidden;
  
}
img {
  max-width: 100%;
  height: auto;
}
a, button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
h1, h2, h3, p {
  padding: 0;
  margin: 0;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
.fixed-container {
  width: 1110px;
  margin: 0 auto;
}
.fixed {
    position:fixed; 
    width:100%; 
    }
/*------------------------------------------------------------- header --------------------------------------------*/
.header-cap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
}
.phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    flex-direction: column;
    height: 55px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;        
}
.header-phone {
    background: url("../img/icon-phone.svg") no-repeat;
    background-position: center left;
    padding-left: 25px;
}
.time-call {
    padding-left: 25px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.9);
}
.icon-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.nav {
    margin-top: 20px;
    background-color: #EDEDED;
}
.nav-li {
    display: inline-block;
}
.return-call {
    border: none;
    border-bottom: 2px dotted #35A8E0;
}
.letter {
    background: url("../img/icon-mail.svg") no-repeat;
    background-position: center left;
    padding-left: 25px;
}
.button-shop {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-right: 30px;
}
.button-shop:last-child {
    margin-right: 0;
}
.summ {
    position: absolute;
    width: 18px;
    height: 18px;
    top: -5px;
    margin-left: 65%;
    background-color: #FCC602;
    border-radius: 50px;
    font-size: 12px;
    color: white;
}
.title-button-shop {
    font-size: 12px;
}
.user-inp {
    width: 32px;
    border-radius: 50px;
}
.img-shop {
     z-index: 2;
}
.nav-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.proba {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.catalog {
    position: relative;
    padding: 20px 15px 20px 45px;
    color: white;
    background: url("../img/gamburg.svg") no-repeat;
    background-position: 15px center;
    background-color: #35A8E0;
    border: none;
    font-weight: 600;
    font-size: 18px;
    
}
.abs-menu {
   position: absolute;
   display: none;
   margin-top: -15px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   z-index: 10;
}
.menu-hidden li {
    width: 243px;
    background-color: white;
    border-bottom: 1px solid #EDEDED;
    
}
.link-catalog {
    display: block;
    width: 195px;
    padding: 15px;
    background: url("../img/link-arrow.svg") no-repeat;
    background-position: 100% center;
}
.menu-hidden li:hover {
    color: white;
    background-color: #35A8E0;

}
.input-box {
    position: relative;
    display: inline-block;
    margin: 2px 0;
}
.input-search {
    width: 300px; 
    border: none;
    height: 56px;
}
.lupa {
    position: absolute;
    margin-top: 20px;
    margin-left: -25px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    background-position: center;
} 
.menu-nav li {
    height: 25px;
    margin-right: 50px;
    font-size: 17px;
} 
.nav-li:last-child {
    margin-right: 0;
} 
.nav-li:hover {
    color: #35A8E0;
    border-bottom: 1px solid  #35A8E0;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

/*------------------------------------------------------------- hero ---------------------------------------------*/
.hero {
    position: relative;
    height: 500px;
    opacity: .9;
   
}
.owl-prev, .owl-next {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 31%;
    padding-top: 15px;
    border: none;
}
.owl-next {
    margin-left: 95%;
}
.owl-dots {
    position: absolute;
    margin-top: -35px;
    margin-left: 405px;
    z-index: 1
}
.owl-dot {
    width: 12px;
    height: 12px;
    margin-right: 10px !important;
    border: 2px solid white !important;
    border-radius: 50px;
}

.title-hero {
    position: absolute;
    width: 380px;
    margin-top: 15vh;
    margin-left: 405px;
    z-index: 2;
}
.text-hero {
    color: #323E54;
}
.detailed {
    display: block;
    margin-top: 55px;
}
.fa {
    color: white;
}
.low-hero {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    background-color: #F5F5F5;
}
.item-low-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.item-low-hero li {
    display: inline-block;
}
.block-low-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.icon-low-hero {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50px;
}
.i1 {
    background: url("../img/b1.png") no-repeat;
    background-color: #35A8E0;
    background-position: center;
}
.i2 {
    background: url("../img/b3.png") no-repeat;
    background-color: #35A8E0;
    background-position: center;
}
.i3 {
    background: url("../img/b2.png") no-repeat;
    background-color: #35A8E0;
    background-position: center;
}
.i4 {
    background: url("../img/b4.png") no-repeat;
    background-color: #35A8E0;
    background-position: center;
}
.title-low-hero {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.comment-low-hero {
    width: 170px;
    font-weight: 300;
    text-align: left;
}
.two-page {
    margin-top: 95px;
}
.block-two-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
}
.right-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.materials {
    width: 350px;
    height: 350px;
    padding-top: 90px;
    padding-left: 20px;
    background: url("../img/bg2.jpg") no-repeat;
}
.text-two-page {
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    
}
.link-two-page {
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    font-weight: 400;
}
.laboratores {
    width: 350px;
    height: 350px;
    padding-top: 90px;
    padding-left: 20px;
    background: url("../img/bg3.jpg") no-repeat;
}
.comment-laboratores {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.sale {
    width: 350px;
    height: 160px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 50px;
    background: url("../img/bg4.jpg") no-repeat;
}.low-price {
    width: 350px;
    height: 160px;
    padding-left: 20px;
    padding-top: 25px;
    background: url("../img/bg5.jpg") no-repeat;
}
.right-text {
    font-size: 26px;
    font-weight: 400;
    color: white;
}
.title-block-news {
    font-size: 30px;
    margin-bottom: 30px;
}
.news {
    margin-bottom: 40px;
}
.news-fixed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.news-block{
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.title-news {
    font-size: 22px;
    font-weight: 400;
    color: #323E54;
}
.comment-news {
    margin-bottom: 20px;
}
.block-device {
    width: 255px;
    height: 190px;
    padding: 110px 20px 10px 20px;
    font-size: 22px;
    text-align: center;
    color: white;
}
.device {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
}
.pcr {
    background: url("../img/pcr.svg") no-repeat;
    background-color: #35A8E0;
    background-position:  center 30px;
}

.cell {
    background: url("../img/kt.svg") no-repeat;
    background-color: #35A8E0;
    background-position:  center 30px;  
}
.people {
    background: url("../img/pl.svg") no-repeat;
    background-color: #35A8E0;
    background-position:  center 30px;
}
.genes {
    background: url("../img/gen.svg") no-repeat;
    background-color: #35A8E0;
    background-position:  center 30px;
}  
.footer {
    padding-bottom: 105px;
    padding-top: 70px;
    background-color: #35A8E0;
    color: white;
}
.f-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.f-logo {
    margin-bottom: 45px;
}
.f-phone,
.f-phone-two {
    margin-bottom: 20px;
    background: url("../img/f-phone.svg") no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
}
.f-time {
    background: url("../img/f-time.svg") no-repeat;
    background-position: left center;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;
}
hr {
    border: none; 
    width: 90px;
    margin-bottom: -10px;
    margin-left: 0;
    background-color:white; 
    height: 1px; 
}
.low-text {
    font-size: 14px;
    font-weight: 300;
}
.my-span {
    margin-top: 40px;
}
.f-menu-title {
    font-size: 18px;
    font-weight: 600;
}
.ul-f-menu li {
    width: 120px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}
.form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
}
#username,
#usernumber,
.btn-send {
    width: 345px;
    height: 45px;
}
#username {
    margin: 20px 0;
}
.btn-send {
   margin-top: 20px;
   background-color: #35A8E0;
   border: 1px solid white;
}
.f-text-call {
    font-size: 12px;
    font-weight: 300;
}
/*---------------------------------------------------------M E D I A --------------------------------------------*/
@media screen and (max-width: 1130px) {
.return-call {
    display: none;
}
.device,
.news-fixed,
.block-two-page,
.item-low-hero,
.nav-flex,
.header-cap,
.f-block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
}
@media screen and (max-width: 1130px) {
    .fixed-container {
        width: 95vw;
    }
}
@media screen and (max-width: 1110px) {
    .two-page {
        margin-top: 0;
    }
    .right-block,
    .news-out {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1073px) {
    .genes {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1010px) {
    .title-hero {
        margin-top: 8vh;
        margin-left: 260px;
    }
    .letter,
    .input-box {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .owl-next {
        margin-left: 91%;
    }
    .owl-dots {
        margin-left: 175px;
    }
    .detailed {
        margin-top: 20px;
    }
    .people {
        margin-top: 30px;
    }
}
@media screen and (max-width: 770px) {
.fixed-container {
    width: 600px;
}
.menu-nav li {
    margin-right: 30px;
}
.title-hero {
    margin-left:154px;
    margin-top: 4vh;
}
.item-low-hero li {
    margin-bottom: 25px;
}
.right-block,
.news-out,
.people,
.genes {
    margin-top: 25px;
}
.laboratores {
    margin-top: 30px;
}
}
@media screen and (max-width: 575px) {
    .fixed-container {
        width: 500px ;
    }
    .phone {
        display: none;
    }
    .title-hero {
        margin-left: 97px;
        font-size: 12px;
    }
    .block-low-hero {
        flex-wrap: wrap;
    }
    .icon-low-hero {
        margin-right: 5px;
    }
    .title-low-hero {
        font-size: 14px;
    }
    .comment-low-hero {
        font-size: 12px;
    }
    .two-page {
        margin-top: 0;
    }
    .materials {
        margin-bottom: 25px;
    }
    .laboratores {
         margin-top: 0;
    }
    .news-two {
        margin: 25px 0;
    }
    .cell {
        margin-top: 20px;
    }
}
@media screen and (max-width: 500px) {
    .fixed-container {
        width: 400px;
    }
    .nav {
        display: none;
    }
    .title-hero {
        margin-top: 0;
        margin-left: 50px;
    }
    .owl-prev, .owl-next {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 400px) {
    .fixed-container {
        width: 320px;
    }
    .f-block {
        flex-direction: column;
    }
    .title-hero {
        width: 300px;
        font-size: 9px;
        margin-left: 25px;
    }
    #username,
    #usernumber,
    .btn-send {
        width: 290px;
    } 
}
@media screen and (max-width: 330px) {
    .fixed-container {
        width: 290px;
    }
    .catalog {
        font-size: 14px;
    }
    .menu-nav li {
        font-size: 10px;
    }
    .title-hero {
        margin-left: 53px;
        font-size: 7px;
    }
    .title-low-hero {
        font-size: 16px;
    }
    .comment-low-hero {
        font-size: 12px;
    }
    .pcr {
        margin-bottom: 25px;
    }
    .sale,
    .low-price,
    #username,
    #usernumber,
    .btn-send {
        width: 290px;
    } 
       
}


/*----------------------------------------------------------  C A T A L O G  -----------------------------------------*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.catalog-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-left-box,
.catalog-left-box-low {
    width: 242px;
    height: 370px;
    margin-top: 90px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.block-catalog-left-box {
    display: flex;
    justify-content: space-between;
    height: 65px;
    margin: 20px 0;
}
.catalog-right-box,
.grupp-card  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.name-recommend {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #323E54;
}
.price-recommend {
    color: #727272;
}
.text-block-catalog {
    margin-left: 20px;
}
.catalog-title{
    font-size: 22px;
    line-height: 36px;
    color: #323E54;
}
.catalog-right-box {
    max-width: 825px;
    margin-left: 30px;
}
.img-title {
    display: block;
    margin-top: 30px;
    margin-bottom: 40px;
}
.card-item {
    display: block;
    width: 255px;
    height: 220px;
    margin-bottom: 40px;
}
.grupp-card li{
    margin-bottom: 70px;
}
.left-section {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1130px) {
    .catalog-hero {
        flex-direction: column-reverse;
    }
    .catalog-left-box {
        margin-top: 0;
        margin-bottom: 5vw;
    }
}
@media screen and (max-width: 834px) {
    .grupp-card {
        justify-content: space-evenly;
    }   
}
@media screen and (max-width: 659px) {
    .catalog-hero {
        width: 400px;
    }
    .grupp-card {
        flex-direction: column;
        align-content: center;
    }
    .catalog-right-box {
        flex-direction: column;
    }
}
@media screen and (max-width: 440px) {
    .catalog-hero {
        width: 300px;
    }
    .catalog-right-box {
        margin-left: 0;
    }
}
@media screen and (max-width: 320px) {
    .catalog-hero {
        width: 280px;
    }
}



/*---------------------------------------------------- card-product -------------------------------------------------*/
.item-hero {
    display: flex;
    justify-content: space-between;
}
.item-left {
    margin-top: 75vh;
}
.item-box {
    width: 100%;
    margin-left: 30px;
}
.span-path {
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 14px;
}
.title-card-h2 {
    font-weight: 600;
    font-size: 24px;
}
.title-card-h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
}
.boss-info {
    display: flex;
    justify-content: space-between;
}
.photo-item,
.mimi-photo {
    display: inline-block;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  
}
.imge-item {
    display: flex;
    flex-direction: column;
    width: 270px;
}
.photo-item {
    margin-bottom: 30px;
}
.mini-picture {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.mini-photo {
    width: 65px;
    height: 65px;
}
.icon-publcity {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50px;
}
.title-publcity {
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
}
.block-publcity {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ul-publicity {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 0;
}
.ul-publicity li {
    margin-bottom: 20px;
}
.content-publcity {
    width: 80px;
}
.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.link-comment {
    display: block;
    width: 147px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 2px dotted #35A8E0;
}
.link-chart {
    width: 141px;
}
.grid {
    display: grid;
    grid-template-rows: 60px 100px;
    grid-template-columns: 190px 350px;
    align-self: start;
    margin-bottom: 15px;
}
.item1 {
    border: 1px solid #9AD4F0;
}

.item1 p {
    padding: 10px;
}
.buy {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.operation-lot {
    display: inline-flex;
    border: 1px solid #35A8E0;
    align-items: center;
    
}
.minus,
.plus {
    display: inline-block;
    width: 25px;
    height: 35px;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    color: #9A9A9A;;
}
.lot-item {
    width: 40px;
    height: 44px;
    border: none;
    border-left: 1px solid #35A8E0;
    border-right: 1px solid #35A8E0;
    text-align: center;
}
.in-basket {
    width: 160px;
    padding: 10px 30px;
    background: url("../img/lili.svg") no-repeat ;
    background-position:  15px center;
    background-color: #35A8E0 ;
    color: #fff;
    text-align: center;
}
.one-click {
    width: 255px;
    padding: 10px 65px;
    border: 2px solid  #35A8E0;
    color:  #35A8E0;
}

.tabcontent {
    padding-top: 30px;
    border-top:3px solid #EDEDED;
}
.btn-tab {
    margin: 10px 25px;
    background-color: transparent;
    border: none;
}
button.active {
    border-bottom: 3px solid #35A8E0;
}
.kay-character li::before {
    content: "\25CF"; 
    padding-right: 10px; 
    color:  #35A8E0 ;
}
.link-video {
    padding-right: 55px;
    background: url("../img/link-v.svg") no-repeat;
    background-position:  right center;
    text-decoration: underline;
}
table {
    width: 100%;
    margin-bottom: 70px;
    border-collapse: collapse;
}

th,
td {
    padding: 20px 0;
    border: 1px solid  #35A8E0;
    text-align: center;
}
thead {
        background-color: #F5F5F5;;
}
.incidental-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.passing {
    width: 255px;
    padding: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  
}
.img-passing {
    position: relative;
}
.reiting-passing {
    position: absolute;
    top: 0;
    left: 95%;
    display: flex;
    flex-direction: column-reverse;
    width: 30px;
    align-content: center;
}
.text-passing {
    font-weight: 600;
    font-size: 20px;
    color: #323E54;
}
.price-passing {
    display: block;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.in-basket-passing {
    width: 135px;
    padding: 10px 15px;
    background: url("../img/lili.svg") no-repeat ;
    background-position:  15px center;
    background-color: #35A8E0 ;
    color: #fff;
    text-align: center;
} 
.buy-passing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.minus-passing,
.plus-passing {
    width: 20px;
    
    text-align: center;
}
.minus-passing {
    padding-bottom: 8px;
}
.lot-item-passing {
    width: 30px;
    height: 40px;
    border: none;
    border-left: 1px solid #35A8E0;
    border-right: 1px solid #35A8E0;
    text-align: center;
}


.tab2 {
    display: none;
    background-color: yellow;
}
.tab3 {
    display: none;
    background-color: magenta;
}
.pulp {
    color:  #35A8E0;
}
.hr-abs {
    position: relative;
    display: inline-block;
}
.hr-btn {
    position: absolute;
    display: inline-block;
    border: none; 
    background-color: #35A8E0; 
    height: 3px; 
    color:  #35A8E0;
}
.hr1 {
    width: 125px;
    top: 32px;
}
.hr2 {
    display: none;
    width: 130px;
    top: 32px;
    left: 24px;
}
.hr3 {
    display: none;
    width: 125px;
    top: 32px;
}

@media screen and (max-width: 1140px) {
    .item-hero {
        flex-direction: column-reverse;
    }
    .left-section {
        margin-top: 0;
        margin-bottom: 50px;
        flex-direction: row;
        justify-content: space-around;
    }
    .catalog-left-box,
    .catalog-left-box-low {
        margin-top: 0;
    }
    .boss-info {
        justify-content: space-around;
    }
    .item-box {
        width: 95%;
        margin: 0 10px;
    }
    .incidental-item {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 940px) {
    
    .boss-info {
        flex-direction: column;
        align-items: center;  
    }
}
@media screen and (max-width: 580px) {
    .fixed-container {
        width: 530px;
    }
    .span-path {
        font-size: 10px;
    }
    .caption {
        justify-content: space-around;
    }
    .grid {
        grid-template-columns: 114px 350px;
    }
    .buy {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 530px) {
    .fixed-container {
        width: 400px;
    }
    .span-path {
        width: 300px;
    }
    .buy,
    .left-section,
    .incidental-item,
    .caption {
        flex-direction: column;
        align-items: center;  
    }
    .btn-tab {
        margin: 10px 0;
    }
    .hr1 {
        width: 80px;
    }
    .hr2 {
        left: -2px;
    }
    .hr3 {
        width: 65px;
    }
    .grid {
        grid-template-columns: 114px 280px;
    }
    .in-basket {
        margin: 20px 0;
    }
    .title-card-h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .tabcontent {
        width: 90%;
        font-size: 14px;
    }
}
@media screen and (max-width: 420px){
    .fixed-container {
        width: 350px;
    }
    .grid {
        font-size: 13px;
        grid-template-rows: 70px 80px;
        grid-template-columns: 85px 240px;

    }
}
@media screen and (max-width: 350px) {
    .fixed-container {
        width: 290px;
    }
    .hr-abs {
        font-size: 13px;
    }
    .hr1 {
        width: 65px;
    }
    .hr2 {
        width: 105px;
    }
    .hr3 {
        width: 56px;
        left: 2px;
    }
    .grid {
        font-size: 12px;
        grid-template-rows: 70px 75px;
        grid-template-columns: 85px 230px;

    }
}
@media screen and (max-width: 330px) {
    .grid {
        font-size: 11px;
        grid-template-columns: 85px 200px;

    }
}

